.activity-list {
  h3 {
    font-weight: 600;
    font-size: 15px;
    opacity: .9;
  }

  .stats-row {
    margin-top: 5px;

    .stat {
      display: flex;
      flex-direction: row;
      gap: 3px;
      align-items: center;
      justify-content: center;

      .label {
        margin: 0;

        .text {
          display: none;
        }

        .icon {
          display: flex;

          svg {
            display: flex;
            height: 16px;
            width: auto;
            opacity: .8;
          }
        }
      }

      .value {
        font-weight: 400;
        font-size: 14px;
        opacity: .8;

        .unit {
          margin-left: 0px;
        }
      }
    }
  }
}

.activity-info {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  flex: 1;
  color: var(--activity-color);
}

h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.stats-row {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  margin-top: 8px;

  .stat {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;

    .label {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 2px;

      .icon {
        display: none;
      }
    }

    .value {
      font-size: 15px;
      font-weight: 600;

      .unit {
        margin-left: 3px;
      }
    }
  }
}

.activity-info>h3,
.stat,
.text,
.unit,
.value {
  font-family: var(--font-family, sans-serif);
}

.strava-default {
  .stats-row {
    .stat {
      .label {
        font-size: 9px;

        .text {
          font-family: 'Montserrat';
        }
      }

      .value {
        font-family: 'Montserrat';
        font-weight: 600;
      }
    }
  }
}