:host {
  display: block;
  font-family: inherit;
}

.sheet-content {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  box-sizing: border-box;


  .template-preview {
    max-width: 110px;
    display: flex;
    flex-direction: column;

    .image {
      border-radius: 8px;
      width: auto;
      height: 180px;
      min-width: 110px;
      object-fit: contain;
      display: block;
      border: 2px solid rgba(255, 255, 255, 0.058);
      border-radius: 8px;
      cursor: pointer;
      transition: border-color 0.2s;

      &.selected {
        border-color: #fc4c02;
      }
    }

    .name {
      margin-top: 0.5rem;
      font-size: 0.9rem;
      text-align: center;
      color: rgb(202, 202, 202);
      font-weight: 500;
      font-size: 12px;
      transition: color 0.2s;

      &.selected {
        color: white;
      }
    }
  }
}