:host {
  display: block;
  font-family: inherit;
}

.setting-group {
  .alignment {
      display: flex;
      gap: 15px;
      div {
          display: flex;
      }
      div.selected svg {
          stroke: #fc4c02;
          background-color: rgba(255, 255, 255, 0.1);
          padding: 3px;
          border-radius: 4px;
        }
  }
}