:host {
    display: block;
    font-family: inherit;
}

.font-preview {
  width: 100%;
  text-align: center;
}

.font-preview {
    font-family: inherit;
}

.sheet-content {
    padding-bottom: 0;
}

.setting-group {
    .metric-control {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        label {
            margin-right: 5px;
        }

        .metric {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }

    .alignment {
        display: flex;
        gap: 15px;

        div {
            display: flex;
        }

        div.selected svg {
            stroke: #fc4c02;
            background-color: rgba(255, 255, 255, 0.1);
            padding: 3px;
            border-radius: 4px;
        }
    }
}

.metrics {
    flex-direction: column;
    align-items: flex-start;

    .metrics-label {
        margin-bottom: 5px;
    }
}